* {
    background-color: rgb(46, 45, 45);
    color: #eee;
}

.container {
    display: flex;
}

#navbar {
    border: 1px solid currentColor;
    width: 25%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: scroll;
}    

#navbar-header {
    padding: 10px;
}

header {
    font-size: 32px;
}

.list-wrap {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-list {
    border: 1px solid currentColor;
}

.nav-list .nav-link {
    display: block;
    font-size: 24px;
    padding: 8px;
    text-align: center;
}

.nav-list .nav-link:hover {
    background-color: #fff;
    color: #000;
}

#top-head-cont {
    position: sticky;
    top: 0;
    background-color:#888;
    padding: 10px;
    border: 1px solid #fff;
}

#top-sticky {
    font-size: 30px;
    text-align: center;
    color: #000;
    background-color:#888;
}

#main-doc {
    margin-left: 26%;
    width: 75%;
    border: 1px solid currentColor;   
}

p {
    line-height: 1.5em;
}

section {
    padding: 0 10px 0 10px;
}

pre {
    position: relative;
    padding-left: 1em;
    overflow-x: auto;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    #navbar{
        width: 100%;
        position: relative;
        height: auto;
        overflow: auto;
    }
    
    #main-doc{
        margin-left: 0;
        width: 100%;
    }

}

